.heroTitle {
    position: absolute;
    top: 40vh;
    left: 10vw
}

@media screen and (max-width: 420px) {
    .heroTitle {
        font-size: 2em !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
